{% extends 'base.html.twig' %}

{% block title %}Yannick Tindy CV{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <div class="dark">
        <div class="cv-constainer">
            <aside class="fixed-top marx3">
                {% include "cv/aside.html.twig" %}

            </aside>
            <div class="under-aside"></div>
            <!-- <div class="btn btn-success dayNight">Mode ☀️</div></aside> -->
            <main class="bk-obsc">
                {% include "cv/main.html.twig" %}

            </main>
        </div>
        
    </div>

    

{% endblock %}
