{% extends 'base.html.twig' %}

{% block title %}Reverso{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('style') }}
    {{ encore_entry_link_tags('cv') }}
    {{ encore_entry_link_tags('trunk') }}
    {{ encore_entry_link_tags('rever') }}
    {# {{ encore_entry_link_tags('dayNight') }} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('reverso') }}

{% endblock %}

{% block body %}

<div class="disp-center fluid">
    <div class="trunk" style="background-image: url({{ asset('build/img/9-16/back1.png') }})">
        
            <div class="game-trunk__content">
                <div class="reverso-header disp-col-start mar1 pad1">
                    <h4 class="text-center txt-succ">Reverso n°1</h4>
                    <h5 class="text-center txt-light">Score : <span id="score">0</span></h5>
                    <h6 class="text-center txt-succ"><span class="reversoMsg">[ ]</span></h6>
                </div>
                <div class="disp-center-wrap reverso-header pady1">
                    {# ----------- map -------------------------------------------------------------- #}
                    {% for key, card in revcards %}
                        <div id="key" class="card" name="{{card.img}}">
                            <div class="front">
                                <img src="https://www.silenus.fr/build/img/square/logo512.png" alt="silenus" >
                            </div> 
                            <div class="back">
                                <img src="{{card.img}}" alt="{{card.name}}" >
                            </div>
                        </div>
                    {% endfor %}
                    {# ----------- map -------------------------------------------------------------- #}
                </div>
                <div class="reverso-header disp-center mar1 pad1">
                    <a href="{{ path('app_reverso') }}" class="butn butn-succ">Rejouer</a>
                    {# <button class="butn butn-succ" id="restartButton">Rejouer</button> #}
                </div>
            </div>    
        
    </div>
</div>




{% endblock %}
