.fluid {
    width: 100%;
}

.centVH {
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.disp-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.disp-even-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.disp-start-top {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.disp-start-bottom {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.disp-start-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

.disp-end {

    display: flex;
    justify-content: end;
    align-items: center;
}

.disp-center {

    display: flex;
    justify-content: center;
    align-items: center;
}

.disp-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.disp-between-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.disp-even-top {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.disp-col-even {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.disp-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.disp-col-center-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.disp-col-start-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.disp-col-even-start {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}