body {
    background-color: #000;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

// body.dark {
//     background-color: #000000;
//     color: #ffffff;
// }
  
// body.dark .block-dl {
//       background-color: var(--obsc);
//       color: var(--primL);
//     }
  
// body.dark .shadow-dl {
//     box-shadow: 5px 5px 5px var(--primL);
// }

// body.dark .butn-dl {
//     background-color: var(--primL);
//     color: var(--primD);
//     border: 2px solid var(--primL);
// }

// body.dark .butn-out-dl {
//     background-color: transparent;
//     color: var(--primL);
//     border: 2px solid var(--primL);
// }

// body.dark .butn-out-dl:hover {
//     background-color: var(--primL);
//     color: var(--primD);
// } 

// body.dark .bk-dl {
//     background-color: var(--obsc);
// }

// body.dark .bk2-dl {
//     background-color: var(--primD);
// }


// body.dark .txt-dl {
//     color: var(--primL);
// }

// body.dark .hr-dl {
//     border:  1px solid var(--primL);
// }

// body.light {
//     background-color: #ffffff;
//     color: #000000;
// }    
  
// body.light .block {
//     background-color: var(--lum);
//     color:var(--primD);
// }  

// body.light .shadow-dl {
//     box-shadow: 0px 10px 10px var(--primD);
// }

// body.light .butn-dl {
//     background-color: var(--primD);
//     color: white;
//     border: 2px solid var(--primD);
// }

// body.light .butn-out-dl {
//     background-color: transparent;
//     color: var(--primD);
//     border: 2px solid var(--primD);
// }

// body.light .butn-out-dl:hover {
//     background-color: var(--primD);
//     color: white;
// }

// body.light .bk-dl {
//     background-color: var(--lum);   
// }

// body.dark .bk2-dl {
//     background-color: var(--primL);
// }

// body.light .txt-dl {
//     color: var(--primD);
// }

// body.light .hr-dl {
//     border: 1px solid var(--primD);
// }