/* margins----------------------------------------------- */
.mar1 {
    margin: max(1vw, 0.5rem);
}
.mar2 {
    margin: max(3vw, 1rem);
}
.mar3 {
    margin: max(6vw, 2rem);
}

.marx1 {
    margin-left: max(1vw, 0.5rem);
    margin-right: max(1vw, 0.5rem);
}
.marx2 {
    margin-left: max(3vw, 1rem);
    margin-right: max(3vw, 1rem);
}
.marx3 {
    margin-left: max(6vw, 2rem);
    margin-right: max(6vw, 2rem);
}

.mary1 {
    margin-top: max(1vw, 0.5rem);
    margin-bottom: max(1vw, 0.5rem);
}
.mary2 {
    margin-top: max(3vw, 1rem);
    margin-bottom: max(3vw, 1rem);
}
.mary3 {
    margin-top: max(6vw, 2rem);
    margin-bottom: max(6vw, 2rem);
}


/* paddings ----------------------------------------------- */
.pad1 {
    padding: max(1vw, 0.5rem)
}
.pad2 {
    padding: max(3vw, 1rem)
}
.pad3 {
    padding: max(6vw, 2rem)
}

.padx1 {
    padding-left: max(1vw, 0.5rem);
    padding-right: max(1vw, 0.5rem);
}
.padx2 {
    padding-left: max(3vw, 1rem);
    padding-right: max(3vw, 1rem);
}
.padx3 {
    padding-left: max(6vw, 2rem);
    padding-right: max(6vw, 2rem);
}
.pady1 {
    padding-top: max(1vw, 0.5rem);
    padding-bottom: max(1vw, 0.5rem);
}
.pady2 {
    padding-top: max(3vw, 1rem);
    padding-bottom: max(3vw, 1rem);
}
.pady3 {
    padding-top: max(6vw, 2rem);
    padding-bottom: max(6vw, 2rem);
}