

.trunk {
    width: 576px;
    height: 100vh;
    object-fit: cover;
}

.trunk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// translucid black
.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
} 