<section id="information" class="">
    <div class="parallax2 disp-start-bottom" style="background-image: url({{ asset('build/img/16-9/band2.png') }});">
        <div class="parallax-caption mar1 pad1">
            <h3 class="txt-lum">INFORMATIONS & LIENS</h3>
        </div>
    </div>
    <div class="pad3">
        <h4 class="txt-light">Liens</h4>
        <a href="https://gitlab.com/yannicktindy" target="_blank" class="butn butn-succ dayNight m-2">GitLab</a>
        <a href="https://www.linkedin.com/in/yannick-tindy/"  target="_blank" class="butn butn-succ dayNight m-2">LinkedIn</a>
        <a href="{{ asset('build/img/gen/CV-yannick-tindy.png') }}"  target="_blank" class="butn butn-succ dayNight m-2">CV Papier</a>
        
        <hr class="hr-succ">

        <h4 class="txt-light">Projets</h4>
            <p class="txt-light m-0">Pour une raison inconnue, l'hébergeur PlanetHoster a supprimé mon compte gratuit. Des projets seront bientôt redéployés chez OVH</p> 
            <a class="butn butn-succ mary1" href="https://react-pokemon-app-d6422.web.app/login" target="_blank"  role="button" aria-expanded="false">Pokedex React</a>
        <hr class="hr-succ">

        <h4 class="txt-light">Informations</h4>
        <div class="butn butn-out-succ butn-glow mary1"> Maj : 01/06/2023</div>
        <p class="txt-light m-0">- Ce site est la toute nouvelle version de mon CV en ligne. Il est encore en cours de développement</p> 
        <p class="txt-light m-0">- Il est developpé sur VsCode en : Symfony 6. J'ai tout mon back-end à refonder notament pour les api pour mes futurs projets front. C'est en cours...</p> 
        <p class="txt-light m-0">- Les images sont générées avec Midjourney</p> 
        <p class="txt-light m-0">- Ce CV sera rapidement amélioré avec de nouveaux éléments</p>
        <p class="txt-light m-0">- J'ai passé beaucoup de temps à me former en back-End en Symfony et NodeJS. <br>
        Je me remet desormais sur le front. Je suis actuellement en formation UDEMY sur React Native.</p>
        <hr class="hr-succ">

        <h6 class="txt-light">Pourquoi Silenus ?</h6>
        <p class="txt-light m-0">Martin Silenus est un des héros du roman de Dan Simmons Hyperion. Cette épopée m'a profondément marqué.</p>
        <hr class="hr-succ"> 


    </div>
</section>