@import '~bootstrap';

@import 'general/main.scss';
@import 'general/color.scss';
@import 'general/font.scss';
@import 'general/margin.scss';
@import 'general/display.scss';


@import 'component/button.scss';
@import 'component/card.scss';

@import 'dayNight/dayNight.scss';

.newBox {
    width: 100%;
    height: 200px;
    display: flex;

}

.item {
    flex: 1;
    height : 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.5s ease;
    position: relative;
    cursor: pointer;
} 
.item:hover {
    flex: 7;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .content {
    position: absolute;
    bottom: 10px;
    left: 30px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.item:hover .content {
    display: block;
    }