// .card {
//     position: relative;
//     width: 200px;
//     height: 200px;
//     background: transparent;
//     cursor: pointer;
//     transform-style: preserve-3d;
//     transform-origin: center right;
//     transition: transform 1s;
//   }
  
//   .card.is-flipped {
//     transform: translateX(-100%) rotateY(-180deg);
//   }
  
//   .card__face {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     line-height: 260px;
//     color: white;
//     text-align: center;
//     font-weight: bold;
//     font-size: 40px;
//     backface-visibility: hidden;
//   }
  
//   .card__face--front {
//     background: crimson;
//   }
  
//   .card__face--back {
//     background: slateblue;
//     transform: rotateY(180deg);
//   }