.game-trunk {
    width: 100%;
    max-width: 576px;
    height: 100vh;
    // position: relative;
}

.game-trunk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-trunk__content {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.reverso-header{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.card {
    width: 120px;
    height: 120px;
    margin: 5px;
    background: transparent;
 }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    border : 2px solid black;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.6s;
  }
  
  .front {
    background-color: var(--primL);
    transform: rotateY(0deg);
  }
  
  .back {
    background-color: var(--primD);
    transform: rotateY(180deg);
  }
  
  .card.flipped .front {
    transform: rotateY(180deg);
  }
  
  .card.flipped .back {
    transform: rotateY(0deg);
  }

  @media screen and (max-width: 800px) {
    .card {
        width: 110px;
        height: 110px;
        margin: 2px;
   
      }
} 